:root {
    /* colors */
    --color-text : #fff;
    --color-primary: #000000;
    --color-secondary: #514d5b;
    --color-dark: #4c474f;
    --color-bg: #030202;

    /* fonts */
    --font-roboto: "Roboto";
}